.btn-add{
    width: 20px;
    height: 20px;
}
.form-table{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.addList{
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 18rem;
    height: 30px;
    text-align: center;
    background-color:#125eeb;
}
.button{
    width: 80px;
    height: 32px;
    border: 1px solid #125EEB;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}
.button:hover{
    color: var(--secondary-color);
    background-color: #125EEB;
}